/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, html.resume-zh {
    font-family: muli, sans-serif;
    background-image: url(../img/noise.png);
    background-repeat: repeat;
}

html.resume-en {
    font-family: muli, Helvetica, Arial, sans-serif;
}

a {
    color: #5b8498;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

#topbar {
    position: static;
    top: 0;
    color: #999;
    line-height: 1.5em;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border-bottom: 1px solid #d4d4d4;
}

#topbar p {
    margin: 0 1em;
    font-size: 0.8em;
}

#topbar p .source {
    float: right;
}

#topbar .active {
    font-weight: bold;
    color: #555;
}

.container {
    width: 940px;
    margin: auto;
}

header {
    display: table;
    width: 100%;
}

header h1 {
    font-size: 4em;
    font-weight: normal;
}

.contact {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    right: 0;
    text-align: right;
    font-size: 0.9em;
}

.contact address {
    font-style: normal;
}

.row {
    float: left;
    min-height: 1px;
}

.content {
    width: 780px;
}

.resume-en .content {
    width: 700px;
}

.content h2 {
    border-bottom: 2px dotted #d4d4d4;
}

dl {
    line-height: 1.8em;
}

dt {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

dt .time {
    font-weight: normal;
    color: #555;
    margin-left: 2em;
    font-size: small;
}

dd, section p {
    margin: 0 0 1.8em 0;
    color: #555;
}

.sidebar {
    margin-left: 20px;
    width: 140px;
    text-align: right;
}

.resume-en .sidebar {
    width: 220px;
}

.sidebar dd {
    margin-bottom: 2.8em;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    font-size: 0.8em;
    line-height: 1.8em;
}

.link-caption {
    font-weight: bold;
}


.lt-ie8 #topbar p .source {
    float: none;
    position: absolute;
    top: 0;
    right: 1em;
}

.lt-ie8 header h1 {
    float: left;
}

.lt-ie8 header .contact {
    top: 3em;
}



/* === Loading Bar === */

#loadingbar-wrapper {
    width: 150px;
    margin: 150px auto;
}

.loadingbar {
    background-color: #fff;
    float: left;
    height: 32px;
    margin-left: 17px;
    width: 32px;
    opacity: 0.3;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    -webkit-animation: loading 1.67s infinite;
    -moz-animation: loading 1.67s infinite;
    -ms-animation: loading 1.67s infinite;
    -o-animation: loading 1.67s infinite;
    animation: loading 1.67s infinite;
}

#loadingbar-1 {
    -webkit-animation-delay: 0.33s;
    -moz-animation-delay: 0.33s;
    -o-animation-delay: 0.33s;
    -ms-animation-delay: 0.33s;
}

#loadingbar-2 {
    -webkit-animation-delay: 0.67s;
    -moz-animation-delay: 0.67s;
    -o-animation-delay: 0.67s;
    -ms-animation-delay: 0.67s;
}

#loadingbar-3 {
    -webkit-animation-delay: 0.99s;
    -moz-animation-delay: 0.99s;
    -o-animation-delay: 0.99s;
    -ms-animation-delay: 0.99s;
}

@-webkit-keyframes loading {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; background-color: #005580; }
    100% { opacity:0.3; }
}

@-moz-keyframes loading {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; background-color: #005580; }
    100% { opacity: 0.3; }
}

@-ms-keyframes loading {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; background-color: #005580; }
    100% { opacity: 0.3; }
}

@-o-keyframes loading {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; background-color: #005580; }
    100% { opacity: 0.3; }
}

@keyframes loading {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; background-color: #005580; }
    100% { opacity: 0.3; }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a.description-link[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    #topbar, #loadingbar-wrapper {
        display: none;
    }

    header h1 {
        margin: 0;
    }

    dl, dl li {
        line-height: 1.5em;
    }
}
